


/*
html { font-size: 62.5%; }
*/

body{
	overflow: hidden;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    margin: .5em;
    background: white;
    font-size: 1em;
    font-family: Lucida, Lucida Grande, Verdana,Arial,sans-serif;
    /*font-size: 100%;*/
}



html {
    width: 100%;
    height: 100%;

}


h1 {
	font-size: 0.9em;
    -webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}

h3 {
    font-size: .9em;
    font-weight: normal;
    line-height: 1em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}

p {
	font-size: 0.8em;
}


span {
	font-size: 1em;
}


select {
	font-size: 1em;
    text-align: left;
	border: 0.1em #ddd solid;
}


text {
	font-size: 0.85em;
}



body a{
    text-decoration:none;
    color: #529CBF;
}


div{
	display:block;
}


input[type="button"], button {
    display: inline-block;
    margin: 0em 0.1em;
    z-index: 0;
    cursor: pointer;
    font-size: 1.05em;
    text-decoration: none;
    text-align: center;
    height: 24px;
    min-width: 74px;

    background: -webkit-linear-gradient(top, #eee, #ddd);
    background: linear-gradient(top, #eee, #ddd, #eee);
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0em 0.1em .1em #999;
    color: #aaa;
    text-shadow: 0em 0.1em #fff;
}


/*
    Hover style for all buttons
*/
input[type="button"]:hover, button:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    border: 0.1em solid #ccc;
}



select {
	background-color: white;
	border: 0.1em #ddd solid;
	border-radius: 0.5em;
    color: #666;
}



@media (min-width: 300px) {
/*    body { font-size: 60%; }*/
    body { font-size: .4em; }
}

@media (min-width: 500px) {
    /*body { font-size: 70%; }*/
    body { font-size: .5em; }
}

@media (min-width: 700px) {
    /*body { font-size: 80%; }*/
    body { font-size: .6em; }
}

@media (min-width: 900px) {
    /*body { font-size: 90%; }*/
    body { font-size: .7em; }
}

@media (min-width: 1200px) {
    /*body { font-size: 100%; }*/
    body { font-size: .75em; }
}


@media (min-width: 1800px) {
    /*body { font-size: 120%; }*/
    body { font-size: .8em; }
}


