



/********************************************************************************************************************************************

    DROP-DOWN LIST

********************************************************************************************************************************************/

.wrapper-dropdown {
    border-radius: 0.5em;
}


.wrapper-dropdown span {
    color: #1f6080 !important;
}


.wrapper-dropdown:after {          /* Little arrow */
    border-width: 6px 6px 0px 6px;;
    border-style: solid;
    border-color: #ddd transparent transparent;
}


.dropdown-list-icon {
    border-radius: 0.3em;
}


.wrapper-dropdown .dropdown {       /*ul*/
    border-radius: 0 0 0.5em 0.5em;
}



/* Active state */
.wrapper-dropdown.active {
    background: -webkit-linear-gradient(top, #eee, #ddd);
    border-radius: 0.5em 0.5em 0 0;
}

.wrapper-dropdown.active span {
    color: #aaa !important;
}



/********************************************************************************************************************************************

    Header panel (top of screen)

********************************************************************************************************************************************/



/********************************************************************************************************************************************

        Main Containers

********************************************************************************************************************************************/



/********************************************************************************************************************************************

    Control Panel (left of screen)

********************************************************************************************************************************************/




/*
    div on the upper side of #eexcess_controls.
    Wraps #eexcess_controls_chart and #eexcess_controls_chart, which enclose pairs  of span-select DOM elements

*/
#eexcess_fixed_controls{
	border-bottom: 1px solid rgba(255,255,255,0.7);
}



/*
    Class for <span> elements labelling the <select> elements
*/
.eexcess_controls_title {
    text-shadow: 0em 0.1em #555;
    color: white;
}


#eexcess_select_chart,
.eexcess_select {
    background: -webkit-linear-gradient(top, #fff, #f0f0f0);
    box-shadow: 0em 0.1em .1em #999;
}

/*
    Hover effect for all <select>
*/
#eexcess_select_chart:hover,
.eexcess_select:hover {
	background: -webkit-linear-gradient(top, #eee 75%, #e0e0e0);
}


#eexcess_select_chart > option,
.eexcess_select > option {
    color: #666;
}


.eexcess_controls_facet_static {
    background: -webkit-linear-gradient(top, #fff, #f0f0f0);
    border: 0.1em #ddd solid;
    border-radius: 0.4em;
    color: #555;
    box-shadow: 0em 0.1em .1em #999;
}



/********************************************************************************************************************************************

Visualization Panel (center of screen)

********************************************************************************************************************************************/



/********************************************************************************************************************************************

    Content List Panel (right side of screen)

********************************************************************************************************************************************/



/********************************************************************************************************************************************

    Bookmark addition panel (appears on favicon clicked)

********************************************************************************************************************************************/


.eexcess-bookmark-dialog {
    background-color: rgba(161,210,182,1);
    border-radius: 1em;
    box-shadow: -.3em .3em 1.5em #222;
}


.eexcess-bookmark-dialog span {
    color: #fff;
}


.eexcess-bookmark-dialog-title {
    color: #eee !important;
}


.eexcess-bookmark-dropdown-list-icon {
    background-color: #fff;
    border-radius: 0.3em;
}


/* Color picker */
#eexcess-bookmak-dialog-color-picker {
    border-radius: 0.6em;
}


.eexcess-bookmark-dialog-input-wrapper input {
	border-radius: 0.5em;
}


.eexcess-bookmark-bookmarked-in {
    background: rgba(231, 231, 220, 1);
    border: .1em solid rgba(151, 200, 172, 1);
    border-radius: 0.5em;
}

.eexcess-bookmark-color-icon {
    background-color: rgba(170,220,192,1);
    border-radius: 0.3em;
}





