

/***************************************************************************************

    DROP-DOWN LIST

****************************************************************************************/

.wrapper-dropdown {

    /* Size & position */
    position: relative;
    font-size: 1em;
    float: left;
    padding-left: 0.5em;

    /* Styles */
    vertical-align: middle;
    line-height: 1.6em;
    cursor: pointer;
    outline: none;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}


.wrapper-dropdown span {
    display: inline-block;
    float: left;
    margin-left: 0em !important;
    margin-top: 0.2em !important;
    vertical-align: top;
    line-height: 1.4em;
    font-size: 1em;
}


.wrapper-dropdown:after {          /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}


.dropdown-list-icon {
    display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 0.24em !important;
    margin-right: 0.4em;
    background-color: inherit;
}


.wrapper-dropdown .dropdown {       /*ul*/

    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-padding-before: 0em;
    padding-left: 0.4em;

    max-height: 30em;
    overflow: hidden;
    list-style: none;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
}

.wrapper-dropdown .dropdown li {
    padding: 0em;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    vertical-align: top;
    line-height: 1.7em;
    color: #666;
}


.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}


/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
}


/* Active state */
.wrapper-dropdown.active {
    box-shadow: none;
}

.wrapper-dropdown.active span {
    color: #fff;
}

.wrapper-dropdown.active:after {
    border-color: #fff transparent;
    border-width: 0px 6px 6px 6px;
}



/********************************************************************************************************************************************

    SHOW & HIDE SECTION

********************************************************************************************************************************************/


.show-and-hide-container {
    width: 100%;
    margin: 1em 0em;
}


.show-and-hide-header {
    display: inline-block;
    width: 100%;
    height: 1.4em;
    margin-top: .1em;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.6em;
    cursor: pointer;
    outline: none;
}


.show-and-hide-header .arrow-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 2px;

    background-image: url("../libs/ui/images/ui-icons_454545_256x240.png");
    background-position: -32px -16px;
}


.show-and-hide-header .title {
    display: inline-block;
    float: left;
    margin-left: 0.2em;
    margin-top: 0.2em;
    vertical-align: top;
    color: #1f6080;
}


.show-and-hide-content {
    width: 100%;
    max-height: 30em;
    background: #fff;
    /*border: 0.1em #ddd solid;*/
    border-radius: 0.5em;
}

.show-and-hide-content p {
    display: inline-block;
    margin: .4em;
    font-size: .95em;
    -webkit-margin-before: 0.5em !important;
    -webkit-margin-after: 0.5em !important;
}


/* Active state */
.show-and-hide-header.active .arrow-icon {
    background-position: -64px -16px;
}



/********************************************************************************************************************************************

    Header panel (top of screen)

********************************************************************************************************************************************/


#eexcess_vis{
    width:100%;
}



/*
    Div wrapping the whole header (green bar on the top of the iFrame)
*/
#eexcess_header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    padding: .5em 0em;
    background: -webkit-linear-gradient(top, rgba(102, 102, 102, 1), rgba(115, 115, 115, 1), rgba(102, 102, 102, 1));
}


/*
    <span> inside #eexcess_message_and_task_section
    Displays message like "Query Results : xx"
*/
#eexcess_header_info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 16%;
    text-align: center;
    color: #fff;
}


#eexcess_header_info_section span {
    font-size: 1.2em;
    font-weight: bold;
    /*text-shadow: 0em 0.1em #888;*/
    text-shadow: 0em .1em green;
}

/*
    <div> on the left side of header
    Wraps the message and task
*/
#eexcess_header_task_section {
    display: flex;
    overflow: auto;
    width: 65%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    box-shadow: inset .2em .2em .5em #ccc, inset -.2em -.2em .5em #ccc;
}

#eexcess_header_task_section p {
    width: calc(100% - 1em);
    //height: calc(500% - .4em);
    height  20px;
    margin: .5em;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #444;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}


p#p_question {
    font-weight: bold;
}


/*
    Third and last <div> aligned inside "#eexcess_inner_header"
    Currently Unused
*/
#eexcess_header_control_section {
    float: right;
    display: flex;
    justify-content: center;
    width: 20%;
}


#eexcess_header_control_section input[type="button"] {
    align-self: center;
    margin: 0em .3em;
}



#eexcess_selected_items_section,
#eexcess_topic_text_section {
	display: block;
    position: absolute;
	float: right;
    overflow: hidden;
    padding: .4em 0em;
    z-index: 999;
    background: white;
    box-shadow: .5em .5em 1em #555, -.5em .5em 1em #555;
    text-align: center;
}

.eexcess_selected_item {
    display: inline-flex;
    align-items: center;
    padding: .15em;
    width: 94%;
    margin: .1em auto;
    text-align: left;
    border: solid 1px #ccc;
    background: rgba(250, 250, 250, 1);
    box-shadow: 0em 0.1em 0.2em -0.1em #888;
    color: #529CBF;
}


.eexcess_selected_item span {
    display: inline-block;
    float: left;
    width: calc(100% - 22px);
    margin-right: 2px;
}

.eexcess_selected_item img {
    display: inline-block;
    float: right;
    width: 12px;
    margin: 0px 2px 0px 4px;
    z-index: 999;
}


#eexcess_topic_text_section p {
    font-size: 1.1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: .2em .7em;
    text-align: left;
}


/*
    Contains icon expand/contract
*/
#eexcess_expand_contract_icon_section {
    display: flex;
    align-items: flex-end;
    width: 2em;
}

/********************************************************************************************************************************************

        Main Containers

********************************************************************************************************************************************/



/*
    <div> containing everything below the header ("#eexcess_header")
*/
#urank-main-panel {
	display: inline-flex;
    justify-content: space-between;
    width: 100%;
	height: calc(100% - 6em);
    text-align: center;
	vertical-align: top;
}



/*******************************************************************************************************

   COLLECTION KEYWORD BOX (TAG CLOUD)

*******************************************************************************************************/

#urank-collection-keywords-box {
    float: left;
    width: 17%;
    height: calc(100% - 1em);


/*    background: -webkit-linear-gradient(top, rgba(185, 185, 185, 1), rgba(180, 180, 180, 1));
    border: 6px solid rgba(170, 170, 170, 1);
    box-shadow: inset .2em .2em .5em #ccc, inset -.2em -.2em .5em #ccc;*/
}




/********************************************************************************************************************************************

VIS PANEL (center of screen)

********************************************************************************************************************************************/

#urank-vis-panel {
    display: inline-block;
    width: 61%;
    height: 100%;
}

/***************************************************************************************************

    VIS PANEL CONTROLS

***************************************************************************************************/


#urank-vis-panel-controls {
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 9%;
    min-height: 4.5em;
}


/*
*   Ranking Controls (upper mid-left)
*
*/

#urank-ranking-controls {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}


#urank-ranking-controls button {
    min-width: 2.1em;
    height: 1.7em;
    margin: .6em .3em;
    padding: .3em .6em;
    border-radius: .9em;
}


#urank-ranking-controls button img {
    width: 100%;
    height: 100%;
}


/*
*   Keyword box (upper mid-right header)
*
*/
#urank-query-box {
    float: right;
    width: 55%;

/*    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;*/
}



/********************************************************************************************************************************************

    CANVAS PANEL (bottom-center)

********************************************************************************************************************************************/

#urank-vis-panel-canvas {
    display: inline-block;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

/********************************************************************************************************************************************

    Content List Panel (left-center)

********************************************************************************************************************************************/


/*
    <div> container for the list of recommendations
*/
#urank-content-list {
    float: left;
    width: 45%;
}



/**********************************************************************************

    Canvas section (right-center) - displays ranking vis

**********************************************************************************/

#urank-canvas {
    width: 55%;
    min-height: 99%;
}



/****************************************************************************************

    Document Panel (right) - for visualizing highlighted text

****************************************************************************************/


/*
*   Document Controls (upper right)
*
*/
#urank-document-viewer {
    display: flex;
    flex-direction: column;
    float: right;
    width: 21%;
    height: calc(100% - 1em);
    padding: .5em;
  /*  background: -webkit-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    box-shadow: inset .1em .1em .5em #aaa, inset -.1em -.1em .5em #aaa;*/
}



/********************************************************************************************************************************************

    Bookmark addition panel (appears on favicon clicked)

********************************************************************************************************************************************/


.eexcess-bookmark-dialog {
    position: absolute;
    right: 4.6em;
    width: 18em;
    max-height: 30em;
    padding: 0.5em;
    z-index: 999;
    font-size: 0.9em;
}


.eexcess-bookmark-dialog span {
    display: inline-block;
    float: left;
    width: 19%;
    margin-top: .1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    text-align: left;
}

.eexcess-bookmark-dialog p {
    display: inline-block;
    width: 76%;
    height: auto;
    margin-top: .1em;
    font-size: .95em;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


.eexcess-bookmark-dialog-title {
    display: block !important;
    margin-top: 0.2em !important;
    margin-bottom: 0.5em;
    margin-left: 0em !important;
    text-align: center !important;
    font-size: 1.1em;
    font-weight: bold;
    width: inherit !important;
}


.eexcess-boookmark-dialog-details {
    width: 100%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    vertical-align: top;
}


.eexcess-bookmark-dialog-settings {
    width: 100%;
    min-height: 2em;
    margin-bottom: .6em;
}


.eexcess-bookmark-dialog-settings span {
    margin-top: 0.3em;
}


.eexcess-bookmark-dropdown-list {
    display: inline-block;
    width: 68%;
    height: 1.7em;
    border: 0.1em #ddd solid;
}


/* Color icon in header of drop-down list */
.eexcess-bookmark-dropdown-list-icon {
    display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 0.24em !important;
    margin-right: 0.4em;
}


.eexcess-bookmark-dialog-optional {
    float: left;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: .9em;
    vertical-align: top;
}

.eexcess-bookmark-dialog-optional p {
    display: inline-block;
    margin-top: 0;
    margin-left: 5.2em;
    font-size: .9em;
    /* static */
    color: red;
}


/* Color picker */
#eexcess-bookmak-dialog-color-picker {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin-top: 0.3em;
    margin-left: 1.9em;
    margin-right: .3em;
    cursor: pointer;

    /* Static color-related style */
    background-color: #fff;
    border: 0.1em #ddd solid;
    box-shadow: inset 4px 4px 6px -6px #666666;
}



.eexcess-bookmark-dialog-input-wrapper {
    display: inline-block;
    width: 71.5%;
    margin-top: 0.35em;
    vertical-align: top;
}


.eexcess-bookmark-dialog-input-wrapper input {
    width: 100%;
    height: 1.4em;
    font-size: 1.1em;
    text-align: left;

    /* Static color-related style */
    background-color: white;
    border: 0.1em #ddd solid;
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    box-shadow: inset 4px 4px 6px -6px #666666;
    color: #666;
}



.eexcess-bookmark-buttons-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: .3em;
}



.eexcess-bookmark-bookmarked-in-section {
    width: 100%;
    margin: 1em 0em;
}

.eexcess-bookmark-bookmarked-in {
    display: inline-block;
    width: 100%;
    height: 1.7em;
    margin-top: .2em;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.6em;
}


.eexcess-bookmark-bookmarked-in span {
    display: inline-block;
    float: left;
    margin-left: 0em !important;
    margin-top: 0.2em !important;
    vertical-align: top;
    line-height: 1.4em;
    font-size: 1em;
}

.eexcess-bookmark-bookmarked-in img {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: .3em;
    margin-right: .5em;
    z-index: 99;
    cursor: pointer;
}

.eexcess-bookmark-color-icon {
    display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 0.25em;
    margin-right: 0.4em;
    margin-left: .5em;
}




#message {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: 10em;
    left: calc(50% - 10em);
    top: calc(50% - 5em);
    background: -webkit-linear-gradient(top, #00441b, #006d2c, #00441b);
    text-align: center;
    font-weight: bold;
    color: white;
}

#message span {
    width: 100%;
    margin: .2em 0em;
    font-size: 1.1em; */
}

